@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  color: rgb(255, 255, 255);
  padding: 2rem;
  background: url("https://www.wallpapertip.com/wmimgs/122-1229234_google-now-wallpaper-picture-chrome-cool-cool-simple.png");
}
